@use "../../../styles/colors" as *;
@use "../../../styles/variables" as *;
.title {
  color: $primary-color;
}

.projectContent {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 50px;
  flex-wrap: wrap;
  max-width: $content-width;
  margin: auto;

  .quote {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    // border-left: 5px solid $primary-color;

    background: #fdfaf6;

    // box-shadow: $box-shadow;
    border-radius: 8px;
    .text {
      &:before,
      &:after {
        content: '"';
      }
      font-family: "Georgia", serif;
      font-size: 1.5rem;
      font-style: italic;
      color: $dark-color;
      color: $primary-color;
      text-align: center;
    }

    .author {
      &:before {
        content: "- ";
      }
      display: block;
      margin-top: 10px;
      font-size: 1rem;
      font-weight: bold;
      color: $primary-color;
    }
  }

  .previews {
    overflow: visible;
  }
  .previewVideo {
    width: 100%;
    margin: $space * 10 0;
    box-shadow: $box-shadow;
  }
  .previewImg {
    width: 100%;
    margin: $space * 10 0;
    box-shadow: $box-shadow;
  }
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  .textBlock {
    border-radius: 10px;
    padding: 30px;
    overflow: visible;
  }
  h3 {
    margin-bottom: $space * 2;
  }
  p {
  }
  li {
    text-align: left;
    padding-bottom: $space;
  }

  .skillList {
    display: flex;
  }
  .skill {
    width: 160px;
    display: inline-flex;
    flex-direction: column;
    padding: $space;
    &:hover {
      .icon,
      p,
      a {
        color: $primary-color;
      }
    }
    p,
    .icon {
      transition: $transition;
    }
    .icon {
      font-size: 40px;
      color: $neutral-color;
    }
    p {
      font-size: 20px;
    }
  }
}
@media (max-width: $small-screen) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .textBlock {
    width: 100%;
    margin-bottom: 20px;
  }
}
