@use "../../../styles/colors" as *;
@use "../../../styles/variables" as *;
.title {
  color: $primary-color;
}

.projectContent {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 50px;
  flex-wrap: wrap;
  max-width: $content-width;
  margin: auto;
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    overflow: visible;
  }
  .textBlock {
    border-radius: 10px;
    padding: 30px;
  }

  h3 {
    margin-bottom: $space * 2;
  }
  p {
  }

  li {
    text-align: left;
    padding-bottom: $space;
  }

  .skillList {
    display: flex;
  }
  .skill {
    width: 160px;
    display: inline-flex;
    flex-direction: column;
    padding: $space;
    &:hover {
      .icon,
      p,
      a {
        color: $primary-color;
      }
    }
    p,
    .icon {
      transition: $transition;
    }
    .icon {
      font-size: 40px;
      color: $neutral-color;
    }
    p {
      font-size: 20px;
    }
  }
}
@media (max-width: $small-screen) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .textBlock {
    width: 100%;
    margin-bottom: 20px;
  }
}
