@import "../../styles/styles";

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.content {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  .title {
    font-family: "leaguecursive";
    font-size: 10vw;
    line-height: 10rem;
    color: white;
    width: 60vw;
    :first-child {
      text-align: justify;
    }
    :last-child {
      text-align: right;
    }
    p {
      font-size: 70px;
      color: white;
      @for $i from 1 through 30 {
        :nth-child(#{$i}) {
          opacity: 1;
          animation-name: fadeInOpacity;
          animation-iteration-count: 1;
          animation-timing-function: ease-in;
          animation-duration: #{$i * 300}ms;
        }
      }
    }
  }
}
