@use "../../styles/variables" as *;
@use "../../styles/colors" as *;

.imageSection {
  height: 50vh;
  width: 100vw;
  position: relative;
  .container {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    clip: rect(auto, auto, auto, auto);
  }
  .img {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
  }
}

@media (max-width: $medium-screen) {
  .imageSection {
    .nav {
      display: none;
    }
  }
}
