@import "../../../styles/variables";
@import "../../../styles/colors";

@mixin showTooltip() {
  pointer-events: all;
  .skillDetails {
    min-height: auto;
    height: auto;
    display: flex;
    opacity: 1;
    &::after {
      min-height: auto;
      height: auto;
      display: flex;
      opacity: 1;
    }
  }
}

.skill {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  min-width: 230px;
  color: white;
  flex-wrap: wrap;
  transition: $transition;
  overflow: visible;
  position: relative;

  .iconContainer {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: $space;
    width: 100%;
    height: 100%;
    transition: $transition;
    cursor: pointer;

    .icon {
      font-size: 70px;
    }
    .name {
      color: white;
      white-space: pre;
      font-size: 20px;
    }
    &:hover {
      transform: scale(1.2);
      .icon,
      .name {
        color: $primary-color;
      }
    }
  }

  .skillDetailsContainer {
    position: absolute;
    top: 70%;
    padding: $space;
    z-index: 10;
    pointer-events: none;
    &.open {
      @include showTooltip();
    }
  }

  .skillDetails {
    overflow: visible;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    min-height: 0;
    height: 0;
    opacity: 0;
    min-width: 300px;
    background-color: white;
    box-shadow: $box-shadow;

    transition: $transition;
    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      bottom: 100%;
      left: 50%;
      min-height: 0;
      height: 0;
      opacity: 0;
      margin-left: -5px;
      border-width: 10px;
      border-style: solid;
      border-color: transparent transparent white transparent;
    }
  }

  .detail {
    color: white;
  }
  h4 {
    color: $dark-color;
    padding: $space / 2;
    margin: 0;
    font-size: 20px;
  }
  hr {
    border: 1px solid $primary-color;
    width: 80%;
    margin-top: 0;
  }
  .projectLink {
    padding: $space/2 $space;
    text-decoration: none;
    color: $dark-color;
    text-align: center;
    transition: $transition;
    width: 100%;

    &:hover {
      color: $primary-color;
      background-color: $dark-color;
    }
  }
}
