// $primary-color: #f1d39f;
// $secondary-color: #a27048;
// $light-color: #eee5d0;
// $dark-color: #372c17;

// $primary-color: #cbc5b8ff;
// $secondary-color: #b97e54ff;
// $light-color: #eee5d0;
// $dark-color: #2e2610ff;

$primary-color: #f5d284ff;
$secondary-color: #a9a79aff;
$light-color: #e0d9d2ff;
$dark-color: #282b22ff;

/* SCSS HEX */
$black-olive: #282b22ff;
$ash-gray: #a9a79aff;
$timberwolf: #e0d9d2ff;
$jasmine: #f5d284ff;

// /* SCSS HEX */
$drab-dark-brown: #2e2610ff;
$kobicha: #5c3310ff;
$black-olive: #433f34ff;
$kobicha-2: #6b4125ff;
$brown: #934716ff;
$butterscotch: #e18f44ff;
$copper: #b97e54ff;
$drab-dark-brown-2: #372f1fff;
$ash-gray: #9ca6a0ff;
$bone: #cbc5b8ff;
