// $primary-color: #f1d39f;
// $secondary-color: #a27048;
// $neutral-color: #555;
// $light-color: #eee5d0;
// $dark-color: #372c17;

// $primary-color: #cbc5b8ff;
// $secondary-color: #b97e54ff;
// $neutral-color: #555;
// $light-color: #eee5d0;
// $dark-color: #2e2610ff;

// $primary-color: #f5d284ff;
// $secondary-color: #a9a79aff;
// $neutral-color: #555;
// $light-color: #e0d9d2ff;
// $dark-color: #282b22ff;

$primary-color: #a53860;
$secondary-color: #bdbfd2;
$neutral-color: #555;
$light-color: #e0d9d2ff;
$dark-color: #30323a;

$light-green: #adf6b1ff;
$ebony: #626d58ff;
$french-gray: #bdbfd2ff;
$raisin-black: #1b1d26ff;

// $primary-color: $light-green;
// $secondary-color: $ebony;
// $neutral-color: #555;
// $light-color:$french-gray;
// $dark-color: $raisin-black;

/* SCSS HEX */
$jasmine: #f5d284ff;
$timberwolf: #e0d9d2ff;
$ash-gray: #a9a79aff;
$black-olive: #282b22ff;

// $primary-color: $jasmine;
// $secondary-color: $timberwolf;
// $neutral-color: #555;
// $light-color: $ash-gray;
// $dark-color: $black-olive;
