// origin https://www.theleagueofmoveabletype.com/league-script
// @font-face {
//   font-family: league-cursive;
//   src: url(fonts/league-script-number-one-master/webfonts/LeagueScriptNumberOne-webfont.woff);
//   font-weight: bold;
// }

@font-face {
  font-family: "MyCustomFont";
  src: url("/fonts/league-script-number-one-master/webfonts/LeagueScriptNumberOne-webfont.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
