$space-sm: 5px;
$space: 10px;
$content-width: 720px;
$space-large: 500px;
$transition: 300ms;
$nav-height: 80px;
$readable-width: 550px;
$box-shadow: -3px 4px 10px rgba(0, 0, 0, 0.5);

$small-screen: 900px;
$medium-screen: 1200px;
