@import "../../styles/variables";
@import "../../styles/colors";

.skillSection {
  display: flex;
  flex-direction: column;
}
.skillList {
  display: flex;
}
.skill {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .icon {
    font-size: 30px;
  }
}
