@use "../../../styles/variables" as *;
@use "../../../styles/colors" as *;
@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.homeNav {
  align-items: flex-end;
  bottom: auto;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 0;
  position: fixed;
  right: $section-nav-offset;
  text-align: right;
  top: 50%;
  transform: translateY(-20%);
  z-index: 3;

  .navChildren {
    margin-left: auto;
  }
  a {
    color: $theme-text-color;
    display: block;
    font-size: 18px;
    padding: $space 0;
    position: relative;
    text-decoration: none;
    transition: $transition;

    &[aria-current="page"]::before {
      background: $primary-color;
      content: "";
      height: 2px;
      left: -$space * 5;
      position: absolute;
      top: 50%;
      width: $space * 3;
    }

    &:hover {
      color: $primary-color;
    }
  }
  @for $i from 1 through 10 {
    a {
      &:nth-child(#{$i}) {
        opacity: 0;
        animation: 1.5s fadeInUp;
        animation-delay: #{$i * 0.2}s;
        animation-fill-mode: forwards;
      }
    }
  }
  &.dark {
    a {
      color: $theme-text-color;
    }
  }
  &.light {
    a {
      color: white;
      &:hover {
        color: $primary-color;
      }
    }
  }
}
