@use "../../../styles/colors" as *;
@use "../../../styles/variables" as *;
.title {
  color: $primary-color;
}

/* Hero Section */
.hero {
  background-repeat: no-repeat;
  background-position: center center;

  background-size: cover;
  color: white;
  height: calc(100vh - $nav-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  h1 {
    color: white;
    padding-bottom: 30px;
  }
  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: $content-width;
    margin: auto;
    padding: 0 $space * 4;
    position: relative;
    z-index: 1;
    align-items: center;
  }

  .container {
    width: 100%;
    max-width: $content-width;
    margin: 0 auto;
    text-align: center;
    overflow: visible;
  }

  .heroHeader {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: -0.5px;
  }

  .heroSubheader {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 30px;
    color: white;
    max-width: $content-width;
    margin: auto;
  }

  .heroButton {
    font-size: 1.2rem;
    padding: 15px 30px;
    background-color: $primary-color;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
  }

  .heroButton:hover {
    background-color: $primary-color;
  }

  @media (max-width: $small-screen) {
    height: 100vh;
    .heroHeader {
      font-size: 2.8rem;
    }
    .content {
      justify-content: center;
    }

    .heroSubheader {
      font-size: 1.2rem;
    }
  }
}
