@use "../../../styles/variables" as *;
@use "../../../styles/colors" as *;
.topBar {
  display: flex;
  background-color: $dark-color;
  overflow: visible;
  position: sticky;
  top: 0;
  z-index: 5;
  box-shadow: $box-shadow;
  .searchContainer {
    width: 100%;
    padding: $space * 2 $space * 2;
  }
  .filtersContainer {
    padding: $space;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    overflow: visible;
    .searchInput {
      width: 100%;
      overflow: visible;
    }
  }
}

@media (max-width: $small-screen) {
  .topBar {
    flex-direction: column;
    .filtersContainer {
      width: 100%;
    }
    .searchContainer {
      width: 80%;
    }
  }
}
