.navIcon {
  position: fixed;
  z-index: 100;
  right: 0;
  color: white;
  -webkit-filter: drop-shadow(-5px 3px 3px rgba(0, 0, 0, 0.8));
  filter: drop-shadow(-5px 3px 3px rgba(0, 0, 0, 0.8));
  transition: $transition;

  &.open {
    right: -100%;
  }
}
