@import "../../styles/colors";
@import "../../styles/variables";
.content {
}
.project {
  width: 100%;
  height: 600px;
  display: flex;
  text-decoration: none;
  h2 {
    color: white;
    transition: $transition;
    font-size: 40px;
    font-weight: 400;
  }
  p {
    padding-left: $space;
    color: white;
    transition: $transition;
    font-size: 20px;
  }
  .projectImage {
    transition: $transition;
    filter: grayscale(60%) brightness(80%);
    transition: filter ease 1s;
  }
  &:hover {
    .projectDetails {
      background-color: $secondary-color;
      h2,
      p {
        color: white;
      }
    }
    .projectImage {
      filter: grayscale(0%) brightness(110%);
    }
  }
}
.projectList {
  .project:nth-child(2n) {
    flex-direction: row-reverse;
  }
}
.projectDetails {
  width: 50%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: $transition;
  background-color: $dark-color;
  padding: 0 $space * 2;
  filter: gray;
  /* IE6-9 */
  filter: grayscale(100%);
}
.projectImage {
  width: 50%;
  height: 100%;
  display: inline-block;
}
