@import "../../../styles/variables";
@import "../../../styles/colors";

.divider {
  max-width: $content-width;
  margin: auto;
  border: white 1px solid;
}
.skillSection {
  padding: $space * 3 0;
  display: flex;
  flex-direction: column;
  color: white;
  overflow: visible;
  align-items: center;
  justify-content: center;
  min-height: $space-large;
  max-width: $content-width;
  margin: auto;
}
.skillSectionContainer {
  overflow: visible;
}
.skilLTypeList {
  padding-bottom: 200px;
}
