@import "../../styles/variables";
@import "../../styles/colors";

.content {
  background-color: $dark-color;
}
.divider {
  max-width: $content-width;
  margin: auto;
  border: white 1px solid;
}
.skillSection {
  h2 {
    font-size: 30px;
  }

  padding: $space * 3;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  min-height: $space-large;
  max-width: $content-width;
  margin: auto;
}
.skillList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skill {
  width: 130px;
  flex-wrap: wrap;
  padding: $space;
  color: white;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  transition: $transition;
  .icon {
    font-size: 70px;
  }
  .detail {
    color: white;
  }
  .name {
    color: white;
    white-space: pre;
    font-size: 30px;
  }
  .projectLink {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: $space-sm;
    transition: $transition;
    &:hover {
      transform: scale(1.1);
      color: $primary-color;
    }
  }
}
