@use "../../styles/variables" as *;
@use "../../styles/colors" as *;

.languageDropdown {
  display: inline-block;
  overflow: visible;
  position: relative;
  z-index: 1000;
  p {
    cursor: pointer;
    color: $primary-color;
  }
  &.dark {
    .languageList {
      .language {
        cursor: pointer;
        color: $dark-color;
      }
    }
  }
}
.languageList {
  height: 0;
  text-align: right;
  transition: $transition;
  position: absolute;
  top: $nav-height;
  right: 0px;

  &.open {
    height: 200px;
    display: block;
  }
  &:hover {
    .language {
      color: white;
    }
  }

  .language {
    font-size: 20px;
    color: white;
    transition: $transition;
    cursor: pointer;
    &:hover {
      color: $primary-color;
    }
  }
}

.language {
  &.active {
    color: $primary-color;
  }
}

.right {
  p {
    font-size: 50px;
    margin: 0;
  }
  .languageList {
    position: relative;
    right: unset;
    left: 0;
    top: 0;
    text-align: left;
    &.open {
      height: auto;
    }
    .language {
      font-size: 40px;
      padding-bottom: calc($space / 2);
    }
  }
}
