@use "../../styles/variables" as *;
@use "../../styles/colors" as *;

.languageDropdown {
  display: inline-block;
  overflow: visible;
  position: relative;
  z-index: 1000;
  p {
    cursor: pointer;
    color: $primary-color;
  }
  &.dark {
    .languageList {
      .language {
        cursor: pointer;
        color: $dark-color;
      }
    }
  }
}

.languageList {
  height: 0;
  text-align: right;
  transition: $transition;
  position: absolute;
  // top: calc($nav-height - 2px);
  top: $nav-height;
  right: -10px;
  right: 0;

  color: $dark-color;
  // padding: 0 $space * 2;
  overflow: hidden;

  &.open {
    // padding: $space $space * 2;
    height: fit-content;
    display: block;
  }

  .language {
    font-size: 20px;
    // color: white;
    color: $dark-color;
    transition: $transition;
    cursor: pointer;
    &:hover {
      color: $primary-color;
    }
  }
}

.language {
  &.active {
    color: $primary-color;
  }
}

.right {
  p {
    font-size: 50px;
    margin: 0;
  }
  .languageList {
    position: relative;
    right: unset;
    left: 0;
    top: 0;
    text-align: left;
    &.open {
      height: auto;
    }
    .language {
      font-size: 40px;
      padding-bottom: calc(calc($space / 2));
    }
  }
}
